body {
    background: white;
}

h1 {
    margin-top: 20px;
    float: center;
    text-align:center;
    font-size: 50px;
}

p{
margin-top: 20px;
float: center;
text-align:center;
}

li {
    color: black;
    display: block;
    margin-top: 20px;
}
 a{
    font-size: 50px;
    margin-top: 228px;
    margin-left:280px;
    float: center;
    text-align:center;
    text-decoration: none;
    display: inline-block;
}

li:hover, ul a:hover {
    color: #e52314;
    text-decoration: none;
}